$secondary-color: #FAA6A7;

@import "node_modules/materialize-css/sass/materialize.scss";

body{
    background: #fafafa;
    color: #125688;
    font-family: 'Barlow', sans-serif;
}
.landing{
    margin: 30px auto;
}

.iphone{
    width: 100%;
}
.site-footer{
    text-transform: uppercase;
    font-size: 12px;
}
.signup-box{
    background-color: white;
    text-align: center;
}
/* .signup-box */
.login-box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}
.signup-box .uppic{
    font-size: 62px;
}
.signup-form{
    width: 85%;
    margin: 0 auto;
}
.signup-form h2{
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb{
    background-color: #4267B2;
}
.signup-form .btn.btn-go{
    background-color: #DC4D41;
    margin-top: 20px;
}
.signup-form .btn.btn-fb:hover{
    background-color: rgb(35, 66, 126);
}
.signup-form .btn.btn-go:hover{
    background-color: rgb(212, 20, 3);
}
.spacef{
    margin-right: 10px,
}
.spaceg{
    margin-right: 18px;
}

.btn-signup{
    background-color: white;
    color: white;
}
.section .inputs{
    text-align: center;
}
.header{
    background: #EE425A;
    color: $secondary-color;
    box-shadow: none;
    border-bottom: 1px solid #edeeee;
}
.timeline{
    padding: 30px 0;
}
$avatar-size:48px;
.avatar{
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}
.card small.time{
    line-height: $avatar-size;
    padding-right: 24px;
}
.card p{
    padding-top: 5px;
    padding-right: 24px;
    padding-bottom: 5px;
    padding-left: 24px;
}
.card .likes{
    line-height: 30px;
    margin-left: 12px;
}
.card i{
    font-size: 30px;
}
.card .far.fa-heart{
    color: $secondary-color;
}
.card .fas.fa-heart{
    color:  $secondary-color;
    display: none !important;
}
.card.liked {
    .far.fa-heart{
        display: none !important;
    }
    .fas.fa-heart{
        display: block !important;
    }
}
