$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body{
    background: #fafafa;
    color: #125688;
    font-family: 'Barlow', sans-serif;
}
#main-container{
    margin: 30px auto;
}
.iphone{
    width: 100%;
}
.site-footer{
    text-transform: uppercase;
    font-size: 12px;
}
.signup-box{
    background-color: white;
    text-align: center;
}
/* .signup-box */
.login-box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}
.signup-box .uppic{
    font-size: 62px;
}
.signup-form{
    width: 85%;
    margin: 0 auto;
}
.signup-form h2{
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb{
    background-color: #4267B2;
}
.signup-form .btn.btn-go{
    background-color: #DC4D41;
}
.signup-form .btn.btn-fb:hover{
    background-color: rgb(35, 66, 126);
}
.signup-form .btn.btn-go:hover{
    background-color: rgb(212, 20, 3);
}

.btn-signup{
    background-color: white;
    color: white;
}
.section .inputs{
    text-align: center;
}